@* <!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/admin-lte/css/adminlte.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css">

    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />

</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
    <div class="wrapper">
        @await Html.PartialAsync("_Header")
        @await Html.PartialAsync("_Sidebar")

        <div class="content-wrapper">
            <section class="content">
                <div>
                    @RenderBody()
                </div>
            </section>
        </div>
        @await Html.PartialAsync("_Footer")
    </div>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/admin-lte/js/adminlte.js"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
</body>

</html> *@




<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/admin-lte/css/adminlte.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css">
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
    <div class="wrapper">
        @await Html.PartialAsync("_Header")
        @await Html.PartialAsync("_Sidebar")
        <div class="content-wrapper">
            <section class="content">
                <div>
                    @RenderBody()
                </div>
            </section>
        </div>
        @await Html.PartialAsync("_Footer")
    </div>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/admin-lte/js/adminlte.js"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>