@model IEnumerable<Midterm.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p> *@

<div class="d-flex justify-content-between p-3">
    <h3>Customer</h3>
    <a asp-action="Create" class="btn btn-lg btn-primary">Create New</a>
</div>

<div class="card">
<div class="card-body p-2 rounded-4">
<table class="table rounded-4">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsHidden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassportNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsHidden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerType.CustomerTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassportNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td class="">
                <div class="dropdown rounded-4">
                    <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <ul class="dropdown-menu rounded-4">
                        <li>
                        <a class="dropdown-item text-secondary" asp-action="Details" asp-route-id="@item.CustomerId">
                            <i class="fas fa-info-circle mr-2"></i>Details
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item text-warning" asp-action="Edit" asp-route-id="@item.CustomerId">
                            <i class="fas fa-pen mr-2"></i>Edit
                            </a>
                        </li>
                        <li>
                        <a class="dropdown-item text-danger" asp-action="Delete" asp-route-id="@item.CustomerId">
                            <i class="fas fa-trash mr-2"></i>Delete
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
